.big-button {
	margin: 1rem 0;
	padding: 17px 25px;
	font-size: 16px;
	cursor: pointer;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	background: $base-orange;
	border-radius: 10px;
	border: none;
	place-self: center stretch;
  
  &:hover {
    background: #ff9900;
  }
}

.small-button {
	margin: 2vw 1vw;
	text-decoration: none;
	color: $base-orange;
	padding: 0.5vw 2vw;
	border: 1px solid $base-orange;
	font-family: "Poppins";
	font-size: 0.8vw;
  
  &:hover {
    background: $base-orange;
    color: #222;
  }
}

.primary-btn {
	background-color: #e3943435;
	border: 1px solid #e39534;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;

	margin: 5px 0;

	padding: 1rem 5rem;
	width: 100%;

  transition: 150ms all ease-in-out;

  &:hover {
    background-color: #e3943446;
  }

  &:disabled {
    background-color: #98989835;
    border: 1px solid #989898;
    color: #ffffff70;
    cursor: not-allowed;  
  }
}

.primary-btn.warn {
	background-color: #e3343435;
	border: 1px solid #e33434;

  &:hover {
    background-color: #ff393941;
    border: 1px solid #f93838;
  }
}
